node_modules/
.next/
.build/
.deploy/
.logs/
out/
build/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.log
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn.lock
tsconfig.tsbuildinfo
